@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-sans antialiased text-zinc-900 bg-white dark:bg-zinc-950 dark:text-zinc-50;
    }
}

.selection-green::selection {
    background-color: #22c55e;
    color: white;
}

/* Patrón de puntos mejorado */
.bg-grid-pattern {
    background-image: radial-gradient(#e5e7eb 1px, transparent 1px);
    background-size: 24px 24px;
}

.dark .bg-grid-pattern {
    background-image: radial-gradient(#27272a 1px, transparent 1px);
}